.bg-sunlit{
    background-color: #ffcb0a;
}

.side-nav{
    padding-top: 15px;
}

.table-has-dlb-click{
    cursor: pointer;
}

.datatables-report-group-header{
    color: var(--bs-white) !important;
} 

.datatables-report-group-header td{
    box-shadow: inset 0 0 0 9999px var(--bs-primary);
}